@model EntityLayer.Concrete.Admin
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Admin Kayıt</title>
    <!-- Font Icon -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/logreg/fonts/material-icon/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/logreg/fonts/material-icon/css/material-design-iconic-font.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="~/AdminLTE-3.0.4/logreg/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/AdminLTE-3.0.4/web/css/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="main">
        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">

                    <div class="signup-image">
                        <figure><img src="~/AdminLTE-3.0.4/logreg/images/signup-image.jpg" alt="sing up image"></figure>
                    </div>
                    <div class="signin-form">
                        <h2 class="form-title">Kayıt Ol</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <input type="text" name="AdminUserName" id="AdminUserName" placeholder="Kullanıcı Adınız!" required />
                            </div>
                            <div class="form-group">
                                <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                                <input type="password" name="AdminPassword" id="AdminPassword" placeholder="Şifreniz!" required />
                            </div>
                            <div class="form-group form-button">
                                <input type="submit" name="signin" id="signin" class="form-submit" style="text-align:center" value="Kayıt Olun!" />
                                <a href="/Home/HomePage/" class="form-submit" style="text-decoration:none; width:83px; text-align:center; background-color:red;">Siteye Dön!</a>
                            </div>
                        </form>
                        <br />

                        <div style="text-align:center;width: 150px" class="social-label">
                            <span class="social-label" style="color:darkolivegreen;font-weight:bold">Sosyal Medya Linkleri ⬇</span>
                            <br />   <br />
                            <ul>
                                <li><a href="https://cy.linkedin.com/in/bartuyurday/" class="fa fa-linkedin" style="font-size:28px" target="_blank"></a></li>
                            </ul>
                            <ul>
                                <li><a href="https://m.facebook.com/bartu.yurday/" class="fa fa fa-facebook" style="font-size:28px" target="_blank"></a></li>
                            </ul>
                            <ul>

                                <li><a href="https://www.instagram.com/bartuyurday/" class="fa fa-instagram" style="font-size:28px" target="_blank"></a></li>
                            </ul>
                        </div>
                        <br /> <br /> <br /> <br /> <br />
                        <div class="social-login">


                            <!--<span class="social-label">Burası'da Var!</span>-->
                            @*<ul class="socials">
                <li><a href="https://m.facebook.com/bartu.yurday/"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                <li><a href="https://cy.linkedin.com/in/bartuyurday/" class="be" target="_blank"></a></li>
                <li><a href="https://www.instagram.com/bartuyurday/"><i class="display-flex-center zmdi zmdi-instagram"></i></a></li>
            </ul>*@
                        </div>
                        <script src="~/AdminLTE-3.0.4/web/js/bars.js"></script>

                    </div>
                </div>
            </div>
        </section>
    </div>
    <!-- JS -->
    <script src="~/AdminLTE-3.0.4/logreg/vendor/jquery/jquery.min.js"></script>
    <script src="~/AdminLTE-3.0.4/logreg/js/main.js"></script>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->
</html>